.bodypart
{
	<center>
	width:700px;
	height:800px;
	margin-top:10px;
	background-color:yellow;
	background-repeat:no-repeat;
}

.bodypart .imagepart
{	
	<center>
	width:800px;
	height:500px;
	background-image:url('zoozoo2.jpg');
	background-repeat:no-repeat;
}

.bodypart h1
{
	color:blue;
	text-align:center;
}
	</center> 
.footerpart
{
	width:800px;
	height:30px;
	margin-top:10px;
}




