body{
	margin:10;
	padding:0px;
	background-image: url("security.gif");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	font-family: bold;
	padding: 70px 30px;
}