body{
	margin:10;
	
	background-image: url("start.gif");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	font-family: bold;
	padding: 70px 30px;
	background-repeat: no-repeat;
  background-attachment: fixed;
}
.h2{
	margin: 0;
	padding: 10 10 20px;
	text-align: center;
	font-size: 42px;
}
.login input[type="text"] , input[type="password"]
{
	text-align:center;
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 40px;
	color: steelblue;
	bottom: 10px solid;
	font-size: 20px;
}
/*.login{
	width: 320px;
	height: 420px;
	color:#33FFFF;
	top:55%;
	left:52%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing: border-box;*/
}

/*.down#33FFFF
	width: 100px;
	height: 100px;
	position: absolute;
	top: -50px; 
	left: calc(50% - 50px);
}*/

/*.login p{
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	font-weight: bold;
}

.login input{
	width: 270px;
	margin-bottom: 20px;
}*/
/*.login button{
	width: 270px;
	border: none;
	outline: none;
	height: 40px;
	background-color: blue;
	cursor: pointer;
	color: white;
	margin-bottom: 10px;
	font-size: 18px;
}*/

/*.login button:hover
{
	cursor: pointer;
	background: orange;
	color: white;
}*/

./*login a{
	border: 1px solid red;
	width: 200px;
	heigth: 100px;
	margin-bottom: 50px;
	color: violet;
}

.login a:hover
{
	color: blue;

}*/