body{
	margin:0;
	padding:0px;
	background-image: url("lock.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	font-family: bold;
	padding: 70px 30px;
}

.text{
	width: 420px;
	height: 420px;
	color: orange;
	top:55%;
	left:52%;
}

.h2{
	margin: 0;
	padding: 0 0 20px;
	text-align: left;
	font-size: 22px;
}

.text p{
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	font-weight: bold;
}

.text input{
	width: 200px;
	margin-bottom: 20px;
	border:3px solid lightblue;
}

.text button{
	width: 250px;
	border: none;
	outline: none;
	height: 40px;
	background-color: indigo;
	cursor: pointer;
	color: white;
	margin-bottom: 10px;
	font-size: 18px;
}

.text button:hover
{
	cursor: pointer;
	background: aqua;
	color: white;
}